@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
body {
  font-family: 'Open Sans', sans-serif;
}

.chart {
  clear: both;
  padding: 0;
  width: 100%;
}
@media (min-width: 700px) {
  .chart {
    background: url("bg-graph.png") right 9px repeat-x;
    background-size: 163px;
    height: 205px;
    margin: 0 auto emCalc(-32px);
  }
}
.chart li {
  display: block;
  height: 125px;
  padding: emCalc(25px) 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
}
@media (min-width: 700px) {
  .chart li {
    display: inline-block;
    height: 205px;
    margin: 0 3.4% 0 3.4%;
    width: 20%;
  }
}
.chart .axis {
  display: none;
  top: emCalc(-45px);
  width: 8%;
}
@media (min-width: 700px) {
  .chart li {
    display: inline-block;
    height: 205px;
    margin: 0 2% 0 2%;
    width: 18%;
  }
  .chart .axis {
    display: inline-block;
    margin: 0px;
    padding: 0px 40px 0px 0px;
    background-color: #ffffff;
  }
}
@media (min-width: 1400px) {
  .chart li {
    display: inline-block;
    height: 205px;
    margin: 0 3.4% 0 3.4%;
    width: 20%;
  }
  .chart .axis {
    display: inline-block;
    margin: 0px;
    padding: 0px 50px 0px 0px;
    background-color: #ffffff;
  }
}
.chart .label {
  font-family: "Roboto Condensed", Sans-Serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #485465;
  margin: 0px 0 20px 0;
}
.chart .percent {
  letter-spacing: -3px;
  opacity: .4;
  width: 100%;
  font-size: 30px;
  font-size: 1.875rem;
}
@media (min-width: 700px) {
  .chart .percent {
    position: absolute;
    font-size: 62px;
    font-size: 3.875rem;
  }
}
.chart .percent span {
  font-size: 30px;
  font-size: 1.875rem;
}
.chart .skill {
  font-weight: 800;
  opacity: .5;
  overflow: hidden;
  width: 100%;
  font-size: 14px;
  font-size: 0.875rem;
}
@media (min-width: 700px) {
  .chart .skill {
    bottom: -20px;
    position: absolute;
    font-family: "Roboto Condensed", Sans-Serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
  }
}
.chart .lienholders {
  background: #81C341;
}
.chart .fiManagers {
  background: #366D90;
}
.chart .days {
  background: #41ADCE;
}
.chart .teal {
  background: #4ecdc4;
}
.chart .salmon {
  background: #ff6b6b;
}
.chart .lime {
  background: #97f464;
}
.chart .peach {
  background: #ffcd92;
}
.chart .grape {
  background: #ab64f4;
}
